- name: Apache servers
  hosts: apache
  become: yes
  tasks:
    - name: Install Apache
      apt:
        name: apache2
        state: present
        update_cache: yes

    - name: Deploy HTML
      copy:
        src: html/
        dest: /var/www/html/

    - name: Restart Apache
      service:
        name: apache2
        state: restarted

- name: Nginx servers
  hosts: nginx
  become: yes
  tasks:
    - name: Install Nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Deploy HTML
      copy:
        src: html/
        dest: /usr/share/nginx/html/

    - name: Restart Nginx
      service:
        name: nginx
        state: restarted
